*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  font-family: sans-serif;
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-tap-highlight-color: transparent;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  width: 100vw;
  overflow-x: hidden;
  font: normal 62.5% 'Raleway', cursive;
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: rgba(255, 255, 255, 0.2);
}

::-webkit-scrollbar-thumb {
  border-radius: .35rem;
  background: #009de9;
}

.section {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100vw;
  height: 100%;
  overflow-x: hidden;
  overflow-y: auto;
  padding: 2.25em 6em;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-transition: -webkit-transform 0.4s cubic-bezier(0.17, 0.67, 0.1, 1.1);
  transition: -webkit-transform 0.4s cubic-bezier(0.17, 0.67, 0.1, 1.1);
  transition: transform 0.4s cubic-bezier(0.17, 0.67, 0.1, 1.1);
  transition: transform 0.4s cubic-bezier(0.17, 0.67, 0.1, 1.1), -webkit-transform 0.4s cubic-bezier(0.17, 0.67, 0.1, 1.1);
  -webkit-transform: translate3d(0, 0, 0);
          transform: translate3d(0, 0, 0);
  will-change: transform;
  background-position: center center;
  background-size: cover;
}

.section::before {
  position: absolute;
  top: 10%;
  left: -90px;
  content: attr(data-title);
  text-transform: uppercase;
  white-space: nowrap;
  font-size: 15rem;
  font-weight: bold;
  color: #ffffff;
  opacity: 0.1;
}

.section .heading {
  margin: 0;
  text-transform: uppercase;
  font-size: 1rem;
  color: #ffffff;
  -webkit-transition: inherit;
  transition: inherit;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.section .content {
  position: relative;
  margin-top: 4em;
  padding: 1em 2em;
  width: 100%;
  height: 100%;
  font-size: 1rem;
  color: #ffffff;
}

.section .content.center {
  margin: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.section .content.center p {
  max-width: 80%;
}

.section .content.center p.lead {
  font-size: 1.25rem;
  font-weight: 600;
  letter-spacing: 2px;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.section .content h1,
.section .content h2 {
  margin: 0;
  text-transform: uppercase;
}

.section .content h1 {
  font-size: 5rem;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.section .content h2 {
  margin: 0.5em 0;
  font-size: 2.25rem;
}

.section .content .grid {
  margin-bottom: 1em;
  padding-top: 1em;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
  -ms-grid-rows: (auto)[4];
      grid-template-rows: repeat(4, auto);
      grid-template-areas: "last last" ". ." ". ." ". ." "link link";
  grid-gap: 2em 1em;
}

.section .content .grid .block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.section .content .grid .block:first-child {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: last;
}

.section .content .grid .block figure {
  margin: 1em;
}

.section .content .grid .block a {
  display: block;
  margin-bottom: 2em;
  -webkit-transition: 200ms linear;
  transition: 200ms linear;
  -webkit-transition-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275);
          transition-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.section .content .grid .block a img {
  display: block;
  width: 100%;
  border-radius: 0.25em;
  -webkit-box-shadow: 0px 5px 20px rgba(73, 221, 216, 0.3);
          box-shadow: 0px 5px 20px rgba(73, 221, 216, 0.3);
}

.section .content .grid .block a:hover {
  -webkit-transform: translateY(-5px) scale(1.1);
          transform: translateY(-5px) scale(1.1);
}

.section .content .grid .block figcaption {
  text-align: center;
  font-family: 'Varela Round', sans-serif;
}

.section .content .grid p {
  -ms-grid-row: 5;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: link;
  text-align: center;
}

.section .content .grid p a {
  text-decoration: none;
  color: #ffffff;
  border-bottom: 1px dashed #ffffff;
}

.section .content .grid p a:hover {
  border-bottom-style: solid;
}

.section .content .center {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.section .content .social {
  padding: 0;
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.section .content .social a {
  display: block;
  margin: 0.25em;
  font-size: 3rem;
  color: #ffffff;
}

.section-1 {
  background-image: linear-gradient(-45deg, #49ddd8, #009de9);
}

.section-2 {
  background-image: linear-gradient(-45deg, #4954de, #49ddd8);
}

.section-3 {
  background-image: linear-gradient(-45deg, #1d185a, #4954de);
}

.section-4 {
  background-image: linear-gradient(45deg, #da1b60, #fd6470);
}

.logo {
  position: absolute;
  top: -2em;
  right: 0;
  width: 48px;
  fill: #ffffff;
  z-index: 2;
}

.btn {
  position: absolute;
  top: 3em;
  left: 2em;
  width: 28px;
  height: 28px;
  cursor: pointer;
  -webkit-transition: opacity 0.2s 0.2s;
  transition: opacity 0.2s 0.2s;
}

.btn::before {
  display: block;
  width: 100%;
  height: 3px;
  content: '';
  -webkit-transition: -webkit-box-shadow 100ms linear;
  transition: -webkit-box-shadow 100ms linear;
  transition: box-shadow 100ms linear;
  transition: box-shadow 100ms linear, -webkit-box-shadow 100ms linear;
  background: #ffffff;
  border-radius: 2px;
  -webkit-box-shadow: 0px -8px #ffffff, 0px 8px #ffffff;
          box-shadow: 0px -8px #ffffff, 0px 8px #ffffff;
}

.btn:hover::before {
  -webkit-box-shadow: 8px -8px #ffffff, 4px 8px #ffffff;
          box-shadow: 8px -8px #ffffff, 4px 8px #ffffff;
}

.card-menu {
  position: absolute;
  overflow: hidden;
  width: 100vw;
  height: 100vh;
  background-image: linear-gradient(45deg, #1d185a, #009de9);
}

.card-menu .close {
  position: absolute;
  top: 22px;
  left: 22px;
  width: 29px;
  height: 29px;
  cursor: pointer;
}

.card-menu .close::before, .card-menu .close::after {
  position: absolute;
  top: 8px;
  left: 0;
  width: 100%;
  height: 4px;
  content: '';
  background: #ffffff;
  border-radius: 1px;
}

.card-menu .close::before {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.card-menu .close::after {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.card-menu.active .section {
  cursor: pointer;
  border-radius: 0.5em;
}

.card-menu.active .section-1 {
  -webkit-transform: translate3d(40px, 60px, 0);
          transform: translate3d(40px, 60px, 0);
}

.card-menu.active .section-2 {
  -webkit-transform: translate3d(80px, 120px, 0);
          transform: translate3d(80px, 120px, 0);
}

.card-menu.active .section-3 {
  -webkit-transform: translate3d(120px, 180px, 0);
          transform: translate3d(120px, 180px, 0);
}

.card-menu.active .section-4 {
  -webkit-transform: translate3d(160px, 240px, 0);
          transform: translate3d(160px, 240px, 0);
}

.card-menu.active .heading {
  -webkit-transform: translateX(-45px);
          transform: translateX(-45px);
}

.card-menu.active .btn {
  pointer-events: none;
  opacity: 0;
  -webkit-transition: opacity 0.2s;
  transition: opacity 0.2s;
}

.section-1.inactive {
  -webkit-transform: translate3d(100%, 60px, 0);
          transform: translate3d(100%, 60px, 0);
}

.section-2.inactive {
  -webkit-transform: translate3d(100%, 120px, 0);
          transform: translate3d(100%, 120px, 0);
}

.section-3.inactive {
  -webkit-transform: translate3d(100%, 180px, 0);
          transform: translate3d(100%, 180px, 0);
}

.section-4.inactive {
  -webkit-transform: translate3d(100%, 240px, 0);
          transform: translate3d(100%, 240px, 0);
}

.copy {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: 'Varela Round', sans-serif;
  font-size: 1rem;
  color: #ffffff;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}
/*# sourceMappingURL=style.css.map */