$light: #ffffff;
$deepskyblue: #009de9;
$turquoise: #49ddd8;
$royalblue: #4954de;
$midnightblue: #150941;

@mixin font-size($sizeValue: 1.6) {
    font-size: $sizeValue + rem;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

html {
    font-family: sans-serif;
    line-height: 1.15;

    -webkit-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;

    -webkit-tap-highlight-color: transparent;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

body {
    margin: 0;
    width: 100vw;
    overflow-x: hidden;
    font: normal 62.5% 'Raleway', cursive;
}

::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-track {
    background: rgba(255, 255, 255, 0.2);
}

::-webkit-scrollbar-thumb {
    border-radius: .35rem;
    background: $deepskyblue;
}

.section {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    display: flex;
    width: 100vw;
    height: 100%;
    overflow-x: hidden;
    overflow-y: auto;
    padding: 2.25em 6em;
    flex-direction: column;

    transition: transform 0.4s cubic-bezier(0.17, 0.67, 0.1, 1.1);
    transform: translate3d(0, 0, 0);
    will-change: transform;

    background-position: center center;
    background-size: cover;

    &::before {
        position: absolute;
        top: 10%;
        left: -90px;
        content: attr(data-title);
        text-transform: uppercase;
        @include font-size(15);
        font-weight: bold;
        color: $light;
        opacity: 0.1;
    }

    .heading {
        margin: 0;
        text-transform: uppercase;
        @include font-size(1);
        color: $light;
        transition: inherit;
        user-select: none;
    }

    .content {
        position: relative;
        margin-top: 4em;
        padding: 1em 2em;
        width: 100%;
        height: 100%;
        @include font-size(1);
        color: $light;

        &.center {
            margin: 0;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;

            p {
                max-width: 80%;

                &.lead {
                    @include font-size(1.25);
                    font-weight: 600;
                    letter-spacing: 2px;
                    user-select: none;
                }
            }
        }

        h1,
        h2 {
            margin: 0;
            text-transform: uppercase;
        }

        h1 {
            @include font-size(5);
            user-select: none;
        }

        h2 {
            margin: 0.5em 0;
            @include font-size(2.25);
        }

        .grid {
            margin-bottom: 4em;
            padding-top: 1em;
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            grid-template-rows: repeat(4, auto);
            grid-template-areas: "last last"". ."". ."". .""link link";
            grid-gap: 2em 1em;

            .block {
                display: flex;
                justify-content: center;
                align-items: flex-start;

                &:first-child {
                    grid-area: last;
                }

                figure {
                    margin: 1em;
                }

                a {
                    display: block;
                    margin-bottom: 2em;
                    transition: 200ms linear;
                    transition-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275);

                    img {
                        display: block;
                        width: 100%;
                        border-radius: 0.25em;
                        box-shadow: 0px 5px 20px rgba($turquoise, 0.3);
                    }

                    &:hover {
                        transform: translateY(-5px) scale(1.1);
                    }
                }

                figcaption {
                    text-align: center;
                    font-family: 'Varela Round', sans-serif;
                }
            }

            p {
                grid-area: link;
                text-align: center;

                a {
                    text-decoration: none;
                    color: $light;
                    border-bottom: 1px dashed $light;

                    &:hover {
                        border-bottom-style: solid;
                    }
                }
            }
        }

        .center {
            display: flex;
            justify-content: center;
            align-items: center;
        }

        .social {
            padding: 0;
            list-style: none;
            display: flex;

            a {
                display: block;
                margin: 0.25em;
                @include font-size(3);
                color: $light;
            }
        }
    }
}

.section-1 {
    background-image: linear-gradient(-45deg, $midnightblue, $deepskyblue);
}

.section-2 {
    background-image: linear-gradient(-45deg, $deepskyblue, $turquoise);
}

.section-3 {
    background-image: linear-gradient(-45deg, $deepskyblue, $royalblue);
}

.section-4 {
    background-image: linear-gradient(-45deg, $turquoise, $deepskyblue);
}

.logo {
    position: absolute;
    top: -2em;
    right: 0;
    width: 48px;
    fill: $light;
    z-index: 2;
}

.btn {
    position: absolute;
    top: 3em;
    left: 2em;
    width: 28px;
    height: 28px;
    cursor: pointer;
    transition: opacity 0.2s 0.2s;

    &::before {
        display: block;
        width: 100%;
        height: 3px;
        content: '';
        transition: box-shadow 100ms linear;
        background: $light;
        border-radius: 2px;
        box-shadow:
            0px -8px $light,
            0px 8px $light;
    }

    &:hover {
        &::before {
            box-shadow:
                8px -8px $light,
                4px 8px $light;
        }
    }
}

.card-menu {
    position: absolute;
    overflow: hidden;
    width: 100vw;
    height: 100vh;
    background-image: linear-gradient(-45deg, $turquoise, $royalblue);

    .close {
        position: absolute;
        top: 22px;
        left: 22px;
        width: 29px;
        height: 29px;
        cursor: pointer;

        &::before,
        &::after {
            position: absolute;
            top: 8px;
            left: 0;
            width: 100%;
            height: 4px;
            content: '';
            background: $light;
            border-radius: 1px;
        }

        &::before {
            transform: rotate(45deg);
        }

        &::after {
            transform: rotate(-45deg);
        }
    }

    &.active {
        .section {
            cursor: pointer;
            border-radius: 0.5em;
            box-shadow: -5px 2px 15px rgba($royalblue, 0.2);
        }

        .section-1 {
            transform: translate3d(40px, 60px, 0);
        }

        .section-2 {
            transform: translate3d(80px, 120px, 0);
        }

        .section-3 {
            transform: translate3d(120px, 180px, 0);
        }

        .section-4 {
            transform: translate3d(160px, 240px, 0);
        }

        .heading {
            transform: translateX(-45px);
        }

        .btn {
            pointer-events: none;
            opacity: 0;
            -webkit-transition: opacity 0.2s;
            transition: opacity 0.2s;
        }
    }
}

.section-1.inactive {
    transform: translate3d(100%, 60px, 0);
}

.section-2.inactive {
    transform: translate3d(100%, 120px, 0);
}

.section-3.inactive {
    transform: translate3d(100%, 180px, 0);
}

.section-4.inactive {
    transform: translate3d(100%, 240px, 0);
}

.copy {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Varela Round', sans-serif;
    @include font-size(1);
    color: $light;
    user-select: none;
}