$light: #ffffff;
$deepskyblue: #009de9;
$turquoise: #49ddd8;
$royalblue: #4954de;
$salmon: #fd6470;
$midnightblue: #1d185a;
$crimson: #da1b60;

@mixin font-size($sizeValue: 1.6) {
    font-size: $sizeValue + rem;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

html {
    font-family: sans-serif;
    line-height: 1.15;

    -webkit-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;

    -webkit-tap-highlight-color: transparent;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

body {
    margin: 0;
    width: 100vw;
    overflow-x: hidden;
    font: 500 62.5% 'Raleway', cursive;
}

a {
    text-decoration: none;
    color: $light;

    &.button {
        padding-bottom: 0.25em;
        border-bottom: 1px dashed $light;

        &:hover {
            border-bottom-style: solid;
        }
    }
}

ul {
    padding: 0;
}

.section {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    display: flex;
    width: 100vw;
    height: 100%;
    overflow-x: hidden;
    overflow-y: auto;
    padding: 2.25em 6em;
    flex-direction: column;

    transition: transform 0.4s cubic-bezier(0.17, 0.67, 0.1, 1.1);
    transform: translate3d(0, 0, 0);
    will-change: transform;

    background-position: center center;
    background-size: cover;

    &::before {
        position: absolute;
        top: 10%;
        left: -90px;
        content: attr(data-title);
        text-transform: uppercase;
        white-space: nowrap;
        @include font-size(15);
        font-weight: bold;
        color: $light;
        opacity: 0.1;
    }

    .heading {
        margin: 0;
        text-transform: uppercase;
        @include font-size(1);
        color: $light;
        transition: inherit;
        user-select: none;
    }

    .content {
        position: relative;
        margin-top: 4em;
        padding: 1em 2em;
        width: 100%;
        height: 100%;
        @include font-size(1);
        color: $light;

        &.center {
            margin: 0;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;

            p {
                max-width: 80%;

                &.lead {
                    position: relative;
                    display: flex;
                    width: 100%;
                    justify-content: center;
                    align-items: center;
                    @include font-size(1.25);
                    font-weight: 600;
                    letter-spacing: 2px;
                    user-select: none;

                    span {
                        margin: 0 1em;
                        opacity: 0;
                        animation: lead 2s cubic-bezier(1, -1, 0.65, -1) forwards;

                        &:nth-child(2) {
                            animation-delay: 0.25s;
                        }

                        &:nth-child(3) {
                            animation-delay: 0.6s;
                        }

                        &:nth-child(4) {
                            animation-delay: 0.9s;
                        }
                    }
                }
            }
        }

        h1,
        h2 {
            margin: 0;
            text-transform: uppercase;
        }

        h1 {
            @include font-size(5);
            user-select: none;
            animation: name 0.5s cubic-bezier(0.18, 0.89, 0.29, 1.05) 2.3s forwards;
        }

        h2 {
            margin: 0.5em 0;
            @include font-size(2.25);
        }

        .grid {
            margin: 2em auto 3em;
            display: grid;
            grid-template-columns: 1fr 1fr;
            grid-template-rows: minmax(auto, repeat(6, 1fr));
            grid-template-areas: "first first"". ."". ."". ."". .""last last";
            grid-gap: 2em;

            .block {
                margin: auto;
                display: flex;
                justify-content: center;
                align-items: flex-start;

                &.g_first {
                    grid-area: first;
                }

                &.g_last {
                    grid-area: last;
                    text-align: center;
                }

                &.flex {
                    display: flex;

                    &.column {
                        flex-direction: column;
                        align-items: center;
                    }
                }

                figure {
                    margin: 1em;
                }

                .iframe {
                    width: 80%;
                    max-width: 951px;
                    height: 487px;
                    border-radius: 0.75em;
                    box-shadow: 0px 5px 10px rgba($midnightblue, 0.1);
                }

                a {
                    display: block;
                    margin-bottom: 2em;
                    transition: 200ms linear;
                    transition-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275);

                    img {
                        display: block;
                        width: 100%;
                        border-radius: 0.25em;
                    }

                    &:hover {
                        transform: translateY(-5px) scale(1.1);
                    }

                    &.button {
                        display: inline-block;

                        &:hover {
                            transform: none;
                        }
                    }
                }

                figcaption {
                    text-align: center;
                    font-family: 'Varela Round', sans-serif;
                }
            }
        }

        .center {
            display: flex;
            justify-content: center;
            align-items: center;

            &.aifs {
                align-items: flex-start;
            }
        }

        .flex {
            display: flex;
        }

        .skills {
            width: 100%;
            justify-content: space-around;
            user-select: none;

            .block {
                width: 100%;
                padding: 0 1em;
                border-radius: 0.35em;

                &:hover {
                    background-color: rgba($light, 0.1);
                }
            }

            ul {
                list-style: none;

                li {
                    position: relative;
                    padding-left: 1.2em;
                    line-height: 1.5;

                    &::before {
                        position: absolute;
                        left: 0;
                        font-family: "fontawesome";
                        content: '\f10c';
                    }

                    &:hover {
                        &::before {
                            content: '\f111';
                        }
                    }
                }
            }
        }

        .author {
            margin-right: 1em;
            width: 200px;
            border-radius: 50%;
        }

        .social {
            padding: 0;
            list-style: none;
            display: flex;

            a {
                position: relative;
                display: block;
                margin: 0.5em;
                @include font-size(3);
                color: $light;
                transform: translate(0, 0);
                opacity: 0.63;
                transition: transform 0.6s cubic-bezier(0, 0.6, 0.35, 1.21), opacity 0.2s ease;

                &::before {
                    position: absolute;
                    left: 50%;
                    bottom: 0;
                    transform: translate(-50%, 50px);
                    padding: 0.5em;
                    content: attr(data-title);
                    font-size: 1rem;
                    color: $light;
                    transition: transform 0.6s cubic-bezier(0, 0.31, 0.22, 1.25), opacity 0.2s ease;
                    will-change: transform;
                    opacity: 0;
                    visibility: hidden;
                }

                &:hover {
                    transform: translateY(-10px);
                    opacity: 1;

                    &::before {
                        transform: translate(-50%, 25px);
                        opacity: 1;
                        visibility: visible;
                    }
                }
            }
        }
    }
}

.section-1 {
    background-image: linear-gradient(-45deg, $midnightblue, $royalblue);
}

.section-2 {
    background-image: linear-gradient(-45deg, $royalblue, $turquoise);
}

.section-3 {
    background-image: linear-gradient(-45deg, $turquoise, $deepskyblue);
}

.section-4 {
    background-image: linear-gradient(45deg, $crimson, $salmon);
}

.logo {
    position: absolute;
    top: -2em;
    right: 0;
    width: 48px;
    fill: $light;
    z-index: 2;
}

.btn {
    position: absolute;
    top: 3em;
    left: 2em;
    width: 28px;
    height: 28px;
    cursor: pointer;
    transition: opacity 0.2s 0.2s;

    &::before {
        display: block;
        width: 100%;
        height: 3px;
        content: '';
        transition: box-shadow 100ms linear;
        background: $light;
        border-radius: 2px;
        box-shadow:
            8px -8px $light,
            4px 8px $light;
    }

    &:hover {
        &::before {
            box-shadow:
                0px -8px $light,
                0px 8px $light;
        }
    }
}

.card-menu {
    position: absolute;
    overflow: hidden;
    width: 100vw;
    height: 100vh;
    background-image: linear-gradient(45deg, $midnightblue, $deepskyblue);

    .close {
        position: absolute;
        top: 22px;
        left: 22px;
        width: 29px;
        height: 29px;
        cursor: pointer;

        &::before,
        &::after {
            position: absolute;
            top: 8px;
            left: 0;
            width: 100%;
            height: 4px;
            content: '';
            background: $light;
            border-radius: 1px;
        }

        &::before {
            transform: rotate(45deg);
        }

        &::after {
            transform: rotate(-45deg);
        }
    }

    &.active {
        .section {
            cursor: pointer;
            border-radius: 0.5em;
        }

        .section-1 {
            transform: translate3d(40px, 60px, 0);
        }

        .section-2 {
            transform: translate3d(80px, 120px, 0);
        }

        .section-3 {
            transform: translate3d(120px, 180px, 0);
        }

        .section-4 {
            transform: translate3d(160px, 240px, 0);
        }

        .heading {
            transform: translateX(-45px);
        }

        .btn {
            pointer-events: none;
            opacity: 0;
            -webkit-transition: opacity 0.2s;
            transition: opacity 0.2s;
        }
    }
}

.section-1.inactive {
    transform: translate3d(100%, 60px, 0);
}

.section-2.inactive {
    transform: translate3d(100%, 120px, 0);
}

.section-3.inactive {
    transform: translate3d(100%, 180px, 0);
}

.section-4.inactive {
    transform: translate3d(100%, 240px, 0);
}

.number {
    position: absolute;
    top: 10%;
    left: 0.75em;
    font-size: 1rem;
    font-weight: 300;
    color: $light;
    display: flex;
    align-items: center;
    transform: rotate(180deg);
    writing-mode: vertical-lr;

    span {
        margin: 10px;
        width: 1px;
        height: 60px;
        background-color: $light;
        opacity: 0.4;
    }
}

.card {
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
    overflow: hidden;
    z-index: -1;
    width: 100%;
    height: 40%;
    opacity: .2;

    .wave {
        position: absolute;
        left: -25%;
        width: 150%;
        height: 100%;
        border-radius: 59% 41% 52% 48% / 100% 100% 0% 0%;
        animation: vawe 3s infinite linear;

        &.w2 {
            background: darken($crimson, 5%);
            animation: vawe 7s infinite linear;
        }

        &.w3 {
            background: darken($crimson, 15%);
            animation: vawe 9s infinite linear;
        }
    }
}

.copy {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Varela Round', sans-serif;
    @include font-size(1);
    color: $light;
    user-select: none;
}

@keyframes name {
    60% {
        transform: scale(1.1);
    }
}

@keyframes lead {
    0% {
        transform: scale(10);
        filter: blur(10px);
    }

    50%,
    100% {
        transform: scale(1);
        opacity: 1;
        filter: blur(0px);
    }
}

@keyframes vawe {
    30% {
        border-radius: 23% 77% 52% 48% / 100% 100% 0% 0%;
    }

    70% {
        border-radius: 78% 22% 52% 48% / 100% 100% 0% 0%;
    }
}

@media (max-width: 991px) {
    .section {
        .content {

            &.center {
                align-items: flex-start;

                p.lead {
                    flex-flow: column wrap;
                    align-items: flex-start;
                    font-size: 1rem;
                }
            }

            .social {
                a {
                    font-size: 2rem;
                }
            }

            .author {
                display: none;
            }

            .skills {
                margin-bottom: 3em;
                flex-flow: row wrap;

                .block {
                    width: 50%;
                }
            }
        }
    }
}

@media (max-width: 768px) {
    .section {
        padding: 2em;

        .heading {
            margin-top: 0.2em;
            margin-left: 3em;
        }

        .content {
            padding: 1.5em;

            .aifs {
                flex-direction: column;
            }

            .grid {
                .block {
                    .iframe {
                        width: 92%;
                        height: 300px;
                    }
                }
            }

            .social {
                a {
                    margin: 0.25em;

                    &:hover {
                        transform: none;
                    }

                    &:before {
                        display: none;
                    }
                }
            }
        }
    }
}

@media (max-width: 480px) {
    .section {
        .content {
            h1 {
                @include font-size(2.5);
            }

            .social {
                a {
                    font-size: 1.25rem;
                }
            }

            .skills {
                flex-direction: column;

                .block {
                    width: 100%;
                }
            }

            .grid {
                display: flex;
                flex-direction: column;
            }
        }
    }
}