*,
::after,
::before {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

html {
    font-family: sans-serif;
    line-height: 1.15;
    -webkit-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    -ms-overflow-style: scrollbar;
    -webkit-tap-highlight-color: transparent;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

body {
    font-size: 62.5%;
    overflow-x: hidden;
    margin: 0;
    -webkit-hyphens: manual;
    hyphens: manual;
    -ms-hyphens: manual;
    background-color: #ffcc66;
    background-image: linear-gradient(45deg, #ff7834, #ffdd34);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    min-height: 100vh;
    height: 100%;
}

%font {
    font-family: 'Nunito', sans-serif;
    font-size: 1rem;
    font-weight: 400;
    color: #fff;
}

a {
    @extend %font;
    text-decoration: none;
}

header,
footer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

footer {
    min-height: 10vh;
}

header,
article,
aside,
footer {
    @extend %font;
}

header {
    .git_links {
        position: absolute;
        right: 1rem;
        top: .75rem;
    }
    svg {
        margin-right: .25rem;
        -webkit-transform: rotate(-45deg);
        transform: rotate(-45deg);
    }

    h1 {
        font-size: 3rem;
    }
}

main {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-flow: row;
    flex-flow: row;
    -webkit-box-pack: stretch;
    -ms-flex-pack: stretch;
    justify-content: stretch;
    min-height: 70vh;

    .parallax {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        overflow: hidden;
        z-index: -1;

        .layer {
            position: absolute;
            width: 100%;
            height: 100%;
            background-repeat: no-repeat;

            &.layer-one {
                background-image: url(/apricot/src/parallax_arp-two.png);
                background-position: 90% 90%;
            }

            &.layer-two {
                background-image: url(/apricot/src/parallax_arp-one.png);
                background-position: 10% 10%;
            }
        }
    }

    article {
        position: relative;
        -webkit-box-flex: 0;
        -ms-flex: 0 0 60%;
        flex: 0 0 60%;
        margin-left: auto;
        -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
        order: 1;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        background-color: rgba(255, 255, 255, .5);
        border-radius: 1rem;
        color: black;

        &:after {
            position: absolute;
            top: -1rem;
            right: 1rem;
            bottom: -1rem;
            left: 1rem;
            content: '';
            background-color: rgba(255, 255, 255, .8);
            border-radius: inherit;
            z-index: -2;
        }

        .about {
            position: relative;
            padding: 1rem;
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-orient: vertical;
            -webkit-box-direction: normal;
            -ms-flex-direction: column;
            flex-direction: column;
            -webkit-box-pack: center;
            -ms-flex-pack: center;
            justify-content: center;
            -webkit-box-align: center;
            -ms-flex-align: center;
            align-items: center;
            text-align: center;

            .author {
                width: 128px;
                border-radius: 50%;
                -webkit-box-shadow: rgba(0, 0, 0, .2) 0 20px 60px -10px;
                box-shadow: rgba(0, 0, 0, .2) 0 20px 60px -10px;
            }

            h2 {
                text-transform: uppercase;
                margin-bottom: .12rem;
            }

            p {
                color: #8d8d8d;
            }
        }

        .frashes {
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-orient: horizontal;
            -webkit-box-direction: normal;
            -ms-flex-direction: row;
            flex-direction: row;
            -webkit-box-pack: center;
            -ms-flex-pack: center;
            justify-content: center;
            padding: 0 1rem;

            div {
                margin: .5rem 1rem;
                height: auto;
                border-radius: .5rem;
                background-color: #fff;
                -webkit-box-shadow: rgba(0, 0, 0, .2) 0 20px 60px -10px;
                box-shadow: rgba(0, 0, 0, .2) 0 20px 60px -10px;
                overflow: hidden;

                img {
                    display: block;
                    width: 100%;
                }
            }
        }
    }

    aside {
        -webkit-box-flex: 0;
        -ms-flex: 0 1 20%;
        flex: 0 1 20%;
        -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
        order: 2;

        ul {
            list-style: none;
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-orient: vertical;
            -webkit-box-direction: normal;
            -ms-flex-direction: column;
            flex-direction: column;
            padding: 0;

            li {
                position: relative;
                -webkit-transform: rotate(90deg);
                transform: rotate(90deg);
                -webkit-writing-mode: rl-tb;
                -ms-writing-mode: rl-tb;
                writing-mode: rl-tb;
                height: 12vh;
                margin: auto;

                a {
                    position: relative;
                    font-weight: bold;

                    &:hover:after,
                    &.active:after {
                        position: absolute;
                        content: '';
                        bottom: -.25rem;
                        left: 0;
                        width: 20px;
                        height: 4px;
                        background-color: #fff;
                    }
                }
            }
        }
    }
}

@media (max-width:991px) {
    main {
        article {
            -webkit-box-flex: 0;
                -ms-flex: 0 0 75%;
                    flex: 0 0 75%;
        }
    }
}

@media (max-width:768px) {
    main {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-flow: column;
        flex-flow: column;

        .parallax {
            display: none;
        }

        article {
            margin: 1.5rem auto;
            -webkit-box-ordinal-group: 2;
            -ms-flex-order: 1;
            order: 1;
            width: 92%;
            -webkit-box-flex: 0;
            -ms-flex: 0 0 100%;
            flex: 0 0 100%;
        }

        aside {
            -webkit-box-ordinal-group: 1;
            -ms-flex-order: 0;
            order: 0;
            -webkit-box-orient: horizontal;
            -webkit-box-direction: normal;
            -ms-flex-direction: row;
            flex-direction: row;
            -webkit-box-align: center;
            -ms-flex-align: center;
            align-items: center;
            -webkit-box-flex: 0;
            -ms-flex: 0 1 auto;
            flex: 0 1 auto;

            ul {
                -webkit-box-orient: horizontal;
                -webkit-box-direction: normal;
                -ms-flex-direction: row;
                flex-direction: row;

                li {
                    -webkit-transform: none;
                    transform: none;
                    height: auto;
                }
            }
        }
    }
}