*,
::after,
::before {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  font-family: sans-serif;
    line-height: 1.15;

    -webkit-text-size-adjust: 100%;
       -moz-text-size-adjust: 100%;
        -ms-text-size-adjust: 100%;
    -ms-overflow-style: scrollbar;
    -webkit-tap-highlight-color: transparent;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

body {
  font-size: 62.5%;

    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    overflow-x: hidden;
        flex-direction: column;

    height: 100%;
    min-height: 100vh;
    margin: 0;

    -webkit-hyphens: manual;
            hyphens: manual;

    background-color: #08b457;
    background-image: linear-gradient(45deg, #08b457, #396);

        -ms-hyphens: manual;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

%font {
  font-family: 'Lato', sans-serif;
  font-size: 1rem;
  font-weight: 400;
  color: #fff;
}

a {
  @extend %font;
  text-decoration: none;
}

header,
footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

header,
article,
aside,
footer {
  @extend %font;
}

header {
  padding: 0 1rem;
  background-image: url(/julia/src/happiness.png);

  .git_links {
    position: absolute;
    z-index: 10;
    top: .75rem;
    right: 1rem;
  }

  svg {
    margin-right: .25rem;
    -webkit-transform: rotate(-45deg);
            transform: rotate(-45deg);
  }

  h1 {
    font-size: 2.5rem;
    text-shadow: 0 1px 2px rgb(23, 88, 42);
  }
}

.parallax {
  position: absolute;
  overflow: hidden;
  width: 100%;
  height: 100%;

  .layer {
    position: absolute;
    z-index: 3;
    background-repeat: no-repeat;

    &.layer-one {
      top: 3%;
      right: 8%;
    }

    &.layer-two {
      bottom: -5%;
    }

    &.layer-three {
      top: 70%;
      right: 20%;
    }
  }
}

main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;

  width: 100%;
  min-height: 70vh;

  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-flow: row;
      flex-flow: row;
  -webkit-box-pack: stretch;
  -ms-flex-pack: stretch;
  justify-content: stretch;

  article {
    position: relative;
    z-index: 2;

    margin-left: auto;

    color: black;
    border-radius: .1875rem;
    background-color: white;

    -webkit-box-flex: 0;
    -ms-flex: 0 0 750%;
        flex: 0 0 75%;
    -webkit-box-ordinal-group: 2;
    -ms-flex-order: 1;
    order: 1;

    &:after {
      position: absolute;
      z-index: -2;
      top: -1rem;
      right: 1rem;
      bottom: -1rem;
      left: 1rem;
  
      content: '';
  
      border-radius: inherit;
      background-color: rgba(255, 255, 255, .1);
    }

    .about {
      position: relative;
      padding: 0 1rem;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: start;
          -ms-flex-pack: start;
              justify-content: flex-start;
      -webkit-box-align: start;
          -ms-flex-align: start;
              align-items: flex-start;

      .author {
        width: 120px;
        -webkit-box-shadow: rgba(0, 0, 0, .2) 0 20px 60px -10px;
                box-shadow: rgba(0, 0, 0, .2) 0 20px 60px -10px;
      }

      div {
        padding-left: 1rem;

        h2 {
          font-size: 1.25rem;
          text-transform: uppercase;
        }

        p {
          padding-right: 3rem;
          color: #44882d;
        }
      }
    }

    .events {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
          flex-direction: row;
  
      padding: 1rem;
  
      cursor: pointer;
  
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
      -ms-flex-direction: row;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center;

      div {
        position: relative;
        z-index: 4;
    
        overflow: hidden;
    
        max-height: 205px;
        margin: auto .5rem 1rem;
    
        text-align: center;
    
        color: #fff;
        border-radius: .1875rem;
        background-color: #44882d;
        -webkit-box-shadow: rgba(0, 0, 0, .2) 0 20px 60px -10px;
                box-shadow: rgba(0, 0, 0, .2) 0 20px 60px -10px;

        h3 {
          margin-top: -40px;
          -webkit-transition: .25s ease-in-out;
                  transition: .25s ease-in-out;
        }

        img {
          display: block;
          width: 100%;
        }

        &:hover,
        &.active {
          background: linear-gradient(45deg, #90cc50, #44882d);
          h3 {
            margin: 1rem auto;
          }
        }
      }
    }

    .min-991 {
      display: none;
    }

    .max-991 {
      display: block;
    }

    button {
      font-size: 1rem;

      display: block;
  
      margin: auto;
      margin-bottom: 4rem;
      padding: 1rem 1.2rem;
  
      cursor: pointer;
      -webkit-transition: .15s ease-in-out;
              transition: .15s ease-in-out;
      text-transform: uppercase;
  
      color: #fff;
      border: 0;
      border-radius: .35rem;
      background: linear-gradient(135deg, #ffae27 0%, #de496d 100%);
      -webkit-box-shadow: 0 32px 84px #f89e01;
              box-shadow: 0 32px 84px #f89e01;

      &:focus {
        outline: none;
      }
      &:active {
        -webkit-transform: translateY(5px);
                transform: translateY(5px);
        -webkit-box-shadow: 0 7px 34px #f89e01;
                box-shadow: 0 7px 34px #f89e01;
      }
    }
  }

  aside {
    margin: auto 0;
    -webkit-box-flex: 0;
    -ms-flex: 0 1 15%;
        flex: 0 1 15%;
    -webkit-box-ordinal-group: 3;
    -ms-flex-order: 2;
    order: 2;

    ul {
      position: relative;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
          flex-direction: column;
  
      margin: auto;
      padding: 0;
  
      list-style: none;
  
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      -webkit-box-align: start;
      -ms-flex-align: start;
      align-items: flex-start;

      &::before,
      &::after {
        position: absolute;
        left: 40%;
        width: 20%;
        height: 1px;    
        content: '';
        -webkit-transform: rotate(90deg);
                transform: rotate(90deg);
        background-color: #fff;
      }

      &::before {
        top: calc(100% + 20px);
      }

      &::after {
        top: -20px;
      }

      li {
        position: relative;
        margin: 4rem auto;
        -webkit-transform: rotate(90deg);
                transform: rotate(90deg);
            -ms-writing-mode: rl-tb;    
        -webkit-writing-mode: rl-tb;
                writing-mode: rl-tb;

        a {
          font-weight: bold;
          position: relative;      
          -webkit-transition: .25s ease-in-out;
                  transition: .25s ease-in-out;      
          background-color: transparent;
        }
      }
    }
  }
}

footer {
  min-height: 10vh;
  background-image: url(/julia/src/happiness_blur.png);

  .footer_nav {
    margin: auto;
    width: auto;
    text-align: center;

    ul {
      position: relative;
      padding: 0;
      list-style: none;

      &::before,
      &::after {
        position: absolute;
        top: 50%;
        width: 20%;
        height: 1px;    
        content: '';
        background-color: #fff;
      }

      &::before {
        right: 100%;
      }

      &::after {
        left: 100%;
      }

      li {
        display: inline-block;
        margin: auto 20px;

        a {
          font-weight: bold;
        }
      }
    }
  }
}

@media (max-width:991px) {
  .parallax {
    display: none;
  }

  main {
    article {
      -webkit-box-flex: 0;
          -ms-flex: 0 0 75%;
              flex: 0 0 75%;

      .events {
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
            -ms-flex-flow: row wrap;
                flex-flow: row wrap;

        div {
          width: 45%;
        }

        h3 {
          position: absolute;
          bottom: 0;
          width: 100%;
          padding: .5rem;
          font-size: 1rem;
          white-space: nowrap;
          background-color: #44882d;
        }
      }

      .min-991 {
        display: block;
        padding: 0 1rem;
        color: #44882d;
      }

      .max-991 {
        display: none;
      }
    }
  }
}

@media (max-width:768px) {
  main {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-flow: column;
        flex-flow: column;

    article {
      width: 92%;
      margin: 1.5rem auto;
      -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
      order: 1;
      -webkit-box-flex: 0;
      -ms-flex: 0 0 100%;
          flex: 0 0 100%;
    }

    aside {
      flex-direction: row;
      -webkit-box-ordinal-group: 1;
      -ms-flex-order: 0;
      order: 0;
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
      -ms-flex-direction: row;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      -webkit-box-flex: 0;
      -ms-flex: 0 1 auto;
          flex: 0 1 auto;

      ul {
        flex-direction: row;
        padding: 0 1rem;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        -ms-flex-direction: row;

        &:before,
        &:after {
          display: none;
        }

        li {
          margin: 1rem auto;
          -webkit-transform: none;
                  transform: none;
        }
      }
    }
  }
}

@media (max-width: 480px) {
  main {
    article {
      .about {
        .author {
          display: none;
        }

        div {
          padding-left: 0;
        }
      }

      .events {
        div {
          width: auto;
        }
      }
    }
  }
}