*,
::after,
::before {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  font-family: sans-serif;
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -ms-overflow-style: scrollbar;
  -webkit-tap-highlight-color: transparent;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  min-height: 100vh;
  overflow-x: hidden;
  -webkit-hyphens: manual;
  hyphens: manual;
  -ms-hyphens: manual;
  font-size: 62.5%;
  background-color: #113;
  background-image: url(/fitness/src/bg_image.png), -webkit-gradient(linear, left top, right top, from(#113), to(#224));
  background-image: url(/fitness/src/bg_image.png), linear-gradient(90deg, #113, #224);
  background-repeat: no-repeat;
  background-size: contain;
}

a,
header,
main, header h1 {
  font-family: 'Raleway', sans-serif;
  font-size: 1rem;
  font-weight: 400;
}

a,
header,
main {
  color: #fff;
}

a {
  text-decoration: none;
}

.blue-button,
.green-button {
  display: block;
  padding: .75rem 1.5rem;
  border: 0;
  border-radius: .35rem;
}

.blue-button {
  background-image: -webkit-gradient(linear, left bottom, left top, from(#6af), to(#6df));
  background-image: linear-gradient(to top, #6af, #6df);
  -webkit-box-shadow: rgba(102, 170, 255, 0.5) 0px 0px 32px;
          box-shadow: rgba(102, 170, 255, 0.5) 0px 0px 32px;
}

.green-button {
  background-image: -webkit-gradient(linear, left bottom, left top, from(#0a7c4e), to(#0d9));
  background-image: linear-gradient(to top, #0a7c4e, #0d9);
  -webkit-box-shadow: rgba(0, 221, 153, 0.5) 0px 0px 32px;
          box-shadow: rgba(0, 221, 153, 0.5) 0px 0px 32px;
}

.color_line {
  width: 50%;
  margin: 1rem 0;
  height: 1px;
  background-image: -webkit-gradient(linear, left bottom, left top, from(#6af), to(#6df));
  background-image: linear-gradient(to top, #6af, #6df);
}

ul {
  padding: 0;
  list-style: none;
}

ul.nav li {
  line-height: 1.75rem;
}

ul.social {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

ul.social li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 2.5rem;
  height: 2.5rem;
  -webkit-transition: .2s ease-in-out;
  transition: .2s ease-in-out;
  font-size: 2rem;
  border-radius: 50%;
  border: 1px dashed #fff;
}

ul.social li:hover, ul.social li.active {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
  border: 0;
  background: -webkit-gradient(linear, left bottom, left top, from(#0a7c4e), to(#0d9));
  background: linear-gradient(to top, #0a7c4e, #0d9);
}

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-left: 3rem;
  padding-right: 1rem;
}

header svg {
  -webkit-transform: rotate(-20deg) translateX(1rem);
          transform: rotate(-20deg) translateX(1rem);
}

header h1 {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 70%;
          flex: 0 1 70%;
  padding-left: 1rem;
  font-size: 4rem;
  font-weight: bold;
  color: #fff;
}

header .sign {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 30%;
          flex: 0 1 30%;
}

header .sign ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

header .sign ul li {
  margin: auto;
}

main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  height: 100%;
  color: #fff;
}

main article,
main aside {
  padding: 1rem;
}

article {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 80%;
          flex: 0 1 80%;
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

article .male,
article .female {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 46%;
  margin: 0 auto;
  color: #fff;
  border-radius: .35rem;
  background-color: #224;
  -webkit-box-shadow: #113 0 0 42px;
          box-shadow: #113 0 0 42px;
}

article .male .icon,
article .female .icon {
  position: absolute;
  z-index: 1;
  top: 250px;
  left: -20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 64px;
  height: 64px;
  font-size: 2.5rem;
  border-radius: .35rem;
  background: -webkit-gradient(linear, left bottom, left top, from(#6af), to(#6df));
  background: linear-gradient(to top, #6af, #6df);
  -webkit-box-shadow: #113 -5px 15px 35px;
          box-shadow: #113 -5px 15px 35px;
}

article .male .card_img,
article .female .card_img {
  position: relative;
  width: 100%;
  height: 250px;
  overflow: hidden;
  border-top-right-radius: .35rem;
  border-top-left-radius: .35rem;
  -webkit-box-shadow: inset 0 0 150px #6af;
          box-shadow: inset 0 0 150px #6af;
}

article .male .card_img:before,
article .female .card_img:before {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  content: '';
  background: -webkit-gradient(linear, left bottom, left top, color-stop(5%, #224), to(transparent));
  background: linear-gradient(to top, #224 5%, transparent);
}

article .male .card_img img,
article .female .card_img img {
  width: 100%;
}

article .male .card_content,
article .female .card_content {
  padding: 1rem;
}

article .male .card_content h2,
article .female .card_content h2 {
  padding-left: 3rem;
}

article .female .icon {
  background-image: -webkit-gradient(linear, left bottom, left top, from(#f4a), to(#f6d));
  background-image: linear-gradient(to top, #f4a, #f6d);
}

aside {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 20%;
          flex: 0 1 20%;
  -webkit-box-ordinal-group: 3;
      -ms-flex-order: 2;
          order: 2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
/*# sourceMappingURL=style.css.map */