*,
::before,
::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  position: relative;
  margin: 0;
  overflow: hidden;
  display: -ms-grid;
  display: grid;
  width: 100vw;
  height: 100vh;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  -ms-grid-rows: auto 1fr auto;
      grid-template-rows: auto 1fr auto;
      grid-template-areas: "header header" "main main" "footer footer";
  font-family: "Karla", sans-serif;
  font-size: 62.5%;
  background-color: #003a96;
  cursor: none;
}

body #cursor {
  position: fixed;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  z-index: 100;
  pointer-events: none;
  fill: rgba(230, 230, 230, 0.2);
  border: 2px solid rgba(230, 230, 230, 0.7);
  border-radius: 50%;
  -webkit-box-shadow: inset 0 0 20px 2px rgba(230, 230, 230, 0.45);
          box-shadow: inset 0 0 20px 2px rgba(230, 230, 230, 0.45);
  -webkit-transition: -webkit-transform 100ms cubic-bezier(0.57, 0.21, 0.69, 3.25);
  transition: -webkit-transform 100ms cubic-bezier(0.57, 0.21, 0.69, 3.25);
  transition: transform 100ms cubic-bezier(0.57, 0.21, 0.69, 3.25);
  transition: transform 100ms cubic-bezier(0.57, 0.21, 0.69, 3.25), -webkit-transform 100ms cubic-bezier(0.57, 0.21, 0.69, 3.25);
}

body:active #cursor {
  -webkit-transform: translate(-50%, -50%) scale(0.7);
          transform: translate(-50%, -50%) scale(0.7);
}

#water {
  position: absolute;
  top: -5%;
  left: -5%;
  z-index: -2;
  width: 110%;
  height: 110%;
}

#water #bg {
  -webkit-filter: url("#filter");
          filter: url("#filter");
}

header {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: header;
  padding: 1em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header .logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header .logo svg {
  margin-right: 20px;
  width: 48px;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
  -webkit-animation: pulse 5s ease-in-out infinite;
          animation: pulse 5s ease-in-out infinite;
}

header .logo svg path {
  fill: none;
  stroke: #e6e6e6;
  stroke-width: 12;
  stroke-dasharray: 3500;
  stroke-dashoffset: 4000;
  -webkit-animation: dash 2s linear forwards;
          animation: dash 2s linear forwards;
}

header .logo h2 {
  font-size: 2rem;
  font-weight: normal;
  color: #e6e6e6;
}

header .social ul {
  margin: 0;
  padding: 0;
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header .social ul li {
  position: relative;
  margin: 0 7px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 32px;
  height: 32px;
  font-size: 1.25rem;
  border: 1px solid rgba(255, 255, 255, 0.4);
  border-radius: 50%;
}

header .social ul li::before {
  position: absolute;
  top: -3px;
  left: -3px;
  z-index: 0;
  display: block;
  width: 36px;
  height: 36px;
  content: '';
  border: 1px solid rgba(255, 255, 255, 0.4);
  border-radius: inherit;
}

header .social ul li a {
  -webkit-transition: 200ms ease;
  transition: 200ms ease;
  color: #e6e6e6;
}

header .social ul li:hover {
  background-color: rgba(0, 58, 150, 0.5);
}

main {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: main;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr minmax(50px, auto);
      grid-template-columns: 1fr minmax(50px, auto);
  -ms-grid-rows: 1fr;
      grid-template-rows: 1fr;
      grid-template-areas: "cont" "aside";
  grid-gap: 10px;
}

main #bubbles {
  position: absolute;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  z-index: -1;
}

.container {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: cont;
  position: relative;
  padding: 1em 4em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.headline {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.headline h1 {
  position: relative;
  margin: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 50%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column wrap;
          flex-flow: column wrap;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  font-family: "Karla", sans-serif;
  font-size: 7rem;
  color: #e6e6e6;
  text-shadow: 40px 10px rgba(0, 58, 150, 0.3);
}

.headline h1 span {
  display: block;
  -webkit-animation: fadeIn 1s linear forwards;
          animation: fadeIn 1s linear forwards;
}

.headline h1 span:nth-child(2) {
  margin-left: 10%;
}

.headline h1 span:last-child {
  margin-left: 55%;
}

.headline form {
  padding: 2em;
  padding-bottom: 4em;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-size: 1rem;
  color: #e6e6e6;
  border-radius: 10px;
  background: linear-gradient(135deg, rgba(230, 230, 230, 0.1), rgba(0, 58, 150, 0.5));
}

.headline form .group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.headline form h3,
.headline form input[type="button"] {
  text-transform: uppercase;
}

.headline form input[type="text"],
.headline form input[type="button"] {
  width: 100%;
  border-radius: 0.5em;
}

.headline form input[type="text"]:focus,
.headline form input[type="button"]:focus {
  outline: none;
}

.headline form input[type="text"] {
  margin-bottom: 1.25em;
  padding: 1em 3em;
  padding-left: 0.5em;
  min-height: 3em;
  font-size: 1rem;
  color: #e6e6e6;
  border: 3px solid rgba(230, 230, 230, 0.4);
  background-color: rgba(230, 230, 230, 0.2);
  -webkit-box-shadow: inset -1px 0px 5px #003a96;
          box-shadow: inset -1px 0px 5px #003a96;
}

.headline form input[type="text"]::-webkit-input-placeholder {
  color: rgba(230, 230, 230, 0.7);
}

.headline form input[type="text"]:-ms-input-placeholder {
  color: rgba(230, 230, 230, 0.7);
}

.headline form input[type="text"]::-ms-input-placeholder {
  color: rgba(230, 230, 230, 0.7);
}

.headline form input[type="text"]::placeholder {
  color: rgba(230, 230, 230, 0.7);
}

.headline form label#btn {
  position: relative;
}

.headline form label#btn::before {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  width: 00%;
  height: 100%;
  content: '';
  -webkit-transition: all .2s linear;
  transition: all .2s linear;
  border-radius: 0.5em;
  background: -webkit-gradient(linear, left top, right top, from(rgba(230, 230, 230, 0.8)), to(rgba(0, 58, 150, 0.1)));
  background: linear-gradient(90deg, rgba(230, 230, 230, 0.8), rgba(0, 58, 150, 0.1));
}

.headline form label#btn:hover:before {
  width: 100%;
}

.headline form input[type="button"] {
  width: 100%;
  min-height: 3em;
  font-size: 1rem;
  cursor: pointer;
  color: #e6e6e6;
  border: 1px solid rgba(230, 230, 230, 0.4);
  background: -webkit-gradient(linear, left top, right top, from(rgba(230, 230, 230, 0.2)), to(rgba(0, 58, 150, 0.8)));
  background: linear-gradient(90deg, rgba(230, 230, 230, 0.2), rgba(0, 58, 150, 0.8));
  -webkit-box-shadow: 0px 2px 5px #003a96;
          box-shadow: 0px 2px 5px #003a96;
}

.slider {
  position: relative;
  margin: 0 auto;
  padding-bottom: 2em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 90%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.slider .arrows {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.slider .arrows .arrow {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 48px;
  height: 48px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 2rem;
  border: 1px solid rgba(255, 255, 255, 0.5);
  border-radius: 50%;
  color: #e6e6e6;
}

.slider .arrows .arrow::before, .slider .arrows .arrow::after {
  position: absolute;
  display: block;
  content: '';
  border-radius: inherit;
}

.slider .arrows .arrow::before {
  top: -5px;
  left: -5px;
  width: 56px;
  height: 56px;
  border: 1px solid rgba(255, 255, 255, 0.2);
}

.slider .arrows .arrow::after {
  top: -8px;
  left: -8px;
  width: 62px;
  height: 62px;
  border: 1px solid rgba(255, 255, 255, 0.1);
}

.slider .arrows .arrow:hover {
  cursor: pointer;
  background-color: rgba(0, 58, 150, 0.3);
}

.slider .arrows .arrow:active {
  background-color: #e6e6e6;
  color: #003a96;
}

.slider .dots {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: auto;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.slider .dots span {
  position: relative;
  margin: 0 .25em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 32px;
  height: 32px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 50%;
  border: 1px solid rgba(255, 255, 255, 0.5);
}

.slider .dots span:hover::before, .slider .dots span.active::before {
  position: absolute;
  width: 22px;
  height: 22px;
  content: '';
  cursor: pointer;
  border-radius: inherit;
  background-color: #e6e6e6;
}

.side {
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transition: 200ms ease-in-out;
  transition: 200ms ease-in-out;
  color: #e6e6e6;
  font-size: 1rem;
  font-weight: bold;
}

.side:hover {
  background-color: rgba(255, 255, 255, 0.2);
}

.side .nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-writing-mode: vertical-rl;
      -ms-writing-mode: tb-rl;
          writing-mode: vertical-rl;
  cursor: pointer;
}

.side .nav span {
  margin: 2px;
  width: 4px;
  height: 45px;
  -webkit-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
  background-color: #e6e6e6;
}

.side .nav i {
  -webkit-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
  font-style: normal;
}

.side .nav:hover span:nth-child(2) {
  -webkit-transform: translateX(-22px);
          transform: translateX(-22px);
}

.side .nav:hover i {
  -webkit-transform: translateX(6px);
          transform: translateX(6px);
}

footer {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: footer;
  padding: 1em;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-family: "Yeseva One", cursive;
  font-size: 1rem;
  color: #e6e6e6;
}

@-webkit-keyframes dash {
  50% {
    stroke-dashoffset: 100%;
  }
  100% {
    stroke-dashoffset: 0;
  }
}

@keyframes dash {
  50% {
    stroke-dashoffset: 100%;
  }
  100% {
    stroke-dashoffset: 0;
  }
}

@-webkit-keyframes pulse {
  0%,
  20%,
  40%,
  60%,
  80% {
    -webkit-transform: scale(1.1) rotate(-45deg);
            transform: scale(1.1) rotate(-45deg);
  }
  10%,
  30%,
  50%,
  70%,
  90% {
    -webkit-transform: scale(1) rotate(-45deg);
            transform: scale(1) rotate(-45deg);
  }
}

@keyframes pulse {
  0%,
  20%,
  40%,
  60%,
  80% {
    -webkit-transform: scale(1.1) rotate(-45deg);
            transform: scale(1.1) rotate(-45deg);
  }
  10%,
  30%,
  50%,
  70%,
  90% {
    -webkit-transform: scale(1) rotate(-45deg);
            transform: scale(1) rotate(-45deg);
  }
}

@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  100% {
    opacity: 1;
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  100% {
    opacity: 1;
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@media (max-width: 1024px) {
  .headline h1 {
    font-size: 6rem;
  }
  .headline h1 span {
    margin-left: 0 !important;
  }
}

@media (max-width: 991px) {
  .headline {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .headline h1 {
    width: 100%;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row wrap;
            flex-flow: row wrap;
    font-size: 3rem;
    text-shadow: 10px -5px rgba(0, 58, 150, 0.3);
  }
  .headline h1 span {
    margin-left: 7px !important;
    display: inline-block;
  }
  .headline form {
    width: 100%;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .headline form .group {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin-bottom: 1em;
  }
  .headline form .group label {
    width: 48%;
  }
  .slider {
    width: 100%;
  }
  .slider .arrows {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

@media (max-width: 768px) {
  #bubbles {
    display: none;
  }
  body::before {
    -webkit-animation: none;
            animation: none;
  }
  header .logo svg {
    width: 32px;
  }
  header .logo svg path {
    fill: #fff;
  }
  .slider .dots span {
    width: 22px;
    height: 22px;
  }
}

@media (max-width: 576px) {
  body::after {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: -1;
    content: '';
    background-color: rgba(0, 58, 150, 0.4);
  }
  header .logo h2 {
    display: none;
  }
  .headline h1 {
    font-size: 2.5rem;
  }
  .headline form {
    padding: 0.5em;
  }
  .headline form .group {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .headline form .group label {
    width: 100%;
  }
  .headline form input[type="text"],
  .headline form input[type="button"] {
    padding: 0.75em;
    min-height: 2em;
  }
  .container {
    padding: 15px;
  }
  .slider {
    padding-bottom: 0;
  }
}

@media (max-width: 480px) {
  .slider .arrows {
    display: none;
  }
}
/*# sourceMappingURL=style.css.map */