*,
::before,
::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  margin: 0;
  overflow: hidden;
  display: -ms-grid;
  display: grid;
  width: 100vw;
  height: 100vh;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  -ms-grid-rows: auto 1fr auto;
      grid-template-rows: auto 1fr auto;
      grid-template-areas: "header header" "main main" "footer footer";
  font-family: "Karla", sans-serif;
  font-size: 62.5%;
  background-color: #003a96;
  background-image: url(/aqua/src/bg_home.jpg);
  background-size: cover;
}

header {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: header;
  padding: 1em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header .logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header .logo svg {
  margin-right: 20px;
  width: 64px;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

header .logo svg path {
  fill: none;
  stroke: #e6e6e6;
  stroke-width: 10;
  stroke-dasharray: 3500;
  stroke-dashoffset: 4000;
  -webkit-animation: dash 2s linear forwards;
          animation: dash 2s linear forwards;
}

header .logo svg:hover {
  -webkit-animation: pulse 5s ease-in-out infinite;
          animation: pulse 5s ease-in-out infinite;
}

header .logo h2 {
  font-size: 2rem;
  font-weight: normal;
  color: #e6e6e6;
}

header .social ul {
  margin: 0;
  padding: 0;
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header .social ul li {
  position: relative;
  margin: 0 7px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 32px;
  height: 32px;
  font-size: 1.25rem;
  border: 1px solid rgba(255, 255, 255, 0.4);
  border-radius: 50%;
}

header .social ul li::before {
  position: absolute;
  top: -3px;
  left: -3px;
  z-index: -1;
  display: block;
  width: 36px;
  height: 36px;
  content: '';
  border: 1px solid rgba(255, 255, 255, 0.4);
  border-radius: inherit;
}

header .social ul li a {
  -webkit-transition: 200ms ease;
  transition: 200ms ease;
  color: #e6e6e6;
}

header .social ul li:hover {
  background-color: rgba(0, 58, 150, 0.5);
}

@-webkit-keyframes dash {
  50% {
    stroke-dashoffset: 100%;
  }
  100% {
    stroke-dashoffset: 0;
  }
}

@keyframes dash {
  50% {
    stroke-dashoffset: 100%;
  }
  100% {
    stroke-dashoffset: 0;
  }
}

@-webkit-keyframes pulse {
  0%,
  20%,
  40%,
  60%,
  80% {
    -webkit-transform: scale(1.1) rotate(-45deg);
            transform: scale(1.1) rotate(-45deg);
  }
  10%,
  30%,
  50%,
  70%,
  90% {
    -webkit-transform: scale(1) rotate(-45deg);
            transform: scale(1) rotate(-45deg);
  }
}

@keyframes pulse {
  0%,
  20%,
  40%,
  60%,
  80% {
    -webkit-transform: scale(1.1) rotate(-45deg);
            transform: scale(1.1) rotate(-45deg);
  }
  10%,
  30%,
  50%,
  70%,
  90% {
    -webkit-transform: scale(1) rotate(-45deg);
            transform: scale(1) rotate(-45deg);
  }
}

main {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: main;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr minmax(50px, auto);
      grid-template-columns: 1fr minmax(50px, auto);
  -ms-grid-rows: 1fr;
      grid-template-rows: 1fr;
      grid-template-areas: "cont" "aside";
  grid-gap: 10px;
}

main #bubbles {
  position: absolute;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  z-index: -1;
}

.container {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: cont;
  position: relative;
  padding: 1em 4em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.headline h1 {
  position: relative;
  margin: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 50%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column wrap;
          flex-flow: column wrap;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  font-family: "Karla", sans-serif;
  font-size: 7rem;
  color: #e6e6e6;
  text-shadow: 40px 10px rgba(0, 58, 150, 0.3);
}

.headline h1 span {
  display: block;
  -webkit-animation: fadeIn 1s linear forwards;
          animation: fadeIn 1s linear forwards;
}

.headline h1 span:nth-child(2) {
  margin-left: 10%;
}

.headline h1 span:last-child {
  margin-left: 55%;
}

@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  100% {
    opacity: 1;
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  100% {
    opacity: 1;
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

.slider {
  position: relative;
  margin: 0 auto;
  padding-bottom: 2em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 90%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.slider .arrows {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.slider .arrows .arrow {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 48px;
  height: 48px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 2rem;
  border: 1px solid rgba(255, 255, 255, 0.5);
  border-radius: 50%;
  color: #e6e6e6;
}

.slider .arrows .arrow::before, .slider .arrows .arrow::after {
  position: absolute;
  display: block;
  content: '';
  border-radius: inherit;
}

.slider .arrows .arrow::before {
  top: -5px;
  left: -5px;
  width: 56px;
  height: 56px;
  border: 1px solid rgba(255, 255, 255, 0.2);
}

.slider .arrows .arrow::after {
  top: -8px;
  left: -8px;
  width: 62px;
  height: 62px;
  border: 1px solid rgba(255, 255, 255, 0.1);
}

.slider .arrows .arrow:hover {
  cursor: pointer;
  background-color: rgba(0, 58, 150, 0.3);
}

.slider .arrows .arrow:active {
  background-color: #e6e6e6;
  color: #003a96;
}

.slider .dots {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: auto;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.slider .dots span {
  margin: 0 .25em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 32px;
  height: 32px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 50%;
  border: 1px solid rgba(255, 255, 255, 0.5);
}

.slider .dots span:hover::before, .slider .dots span.active::before {
  width: 22px;
  height: 22px;
  content: '';
  cursor: pointer;
  border-radius: inherit;
  background-color: #e6e6e6;
}

.side {
  -webkit-transition: 200ms ease-in-out;
  transition: 200ms ease-in-out;
  color: #e6e6e6;
  font-size: 1rem;
  font-weight: bold;
}

.side:hover {
  background-color: rgba(255, 255, 255, 0.2);
}

.side .nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
}

.side .nav span {
  margin: 2px;
  width: 45px;
  height: 4px;
  background-color: #e6e6e6;
}

footer {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: footer;
  padding: 1em;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-family: "Yeseva One", cursive;
  font-size: 1rem;
  color: #e6e6e6;
}
/*# sourceMappingURL=style.css.map */